<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete)%>
  <%= puts current_user.id %>
  </li>
  <p id="user-id"> <%= current_user.id %> </p>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

<h1>Project Name</h1>

<div id="tasks-container">
  <h3></h3>
  <ul id="in-progress">
    <!--  current tasks will be rendered here-->
  </ul>
  <form>
    <input type="text" name="title" id="new-title">
    <input type="text" name="body" id="new-body">
    <input type="submit" name="submit-btn" value="submit" id="submit-btn">
  </form>

    <ul id="suggestions">
    <!--  albums will be rendered -->
  </ul>

</div>
