
<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
<div id="upper-container">
  <nav>
    <ul id="nav">
    <div id="logo">
    </div>

      <% if user_signed_in? %>
        <li class="link-btn">
        <%= link_to('Logout', destroy_user_session_path, :method => :delete)%>
        </li>
      <% else %>
        <li id="login-btn">
          <%= link_to('Login', new_user_session_path)  %>
        </li>
      <% end %>
    </ul>

  </nav>
  <p id="project-intro">You're contributing to:</p>
  <h1 id="project-title"><!-- project title renders here --> </h1>
  <a href="" id="project-url" class="link-btn">check out this repo on github</a>
  <div  id="in-progress">
    <div id="features-header">
      <h2 >Current features in development:</h2>
      <p>the developer is currently working on these features:</p>
    </div>

    <p id="spacer"></p>
    <ul>
      <!--  current tasks will be rendered here-->
<!--       <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li>
      <li>SUB DATA: blah blah blah blah</li> -->
    </ul>
  </div>
</div>

<div id="suggested-tasks-container">
  <div id="suggestion-form">
    <h1>Suggest a new feature!</h1>
    <p>enter a feature you'd like to see added to this app.</p>
    <form>
      <input type="text" name="title" id="new-title" value="subject">
      <input type="text" name="body" id="new-body" value="description">
      <input type="submit" name="submit-btn" value="submit" id="submit-btn">
    </form>
  </div>

  <div id="suggestions-container">
    <h1>Current suggested features</h1>
    <ul id="suggestions">
    <!--  albums will be rendered -->
    </ul>

  </div>


</div>
<!--  -->
